.img_container {
    width: 100px;
    height: 100px;
}

.partlycloudy_day {
    background-image: url(./icons/weathericon/png/partlycloudy_day.png);
    background-repeat: no-repeat;
    background-size: contain;
}